<!doctype html>
<html ${top_class}>
	<head>
	  <meta charset="utf-8">
	  <title>${title}</title>
    <link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
	  <header>
      <div class="container">
        <a href="${top_path}">
          <img src="pike-logo.svg" />
        </a>
      </div>
    </header>
    <section id="main">
      <div class="container">
        <main>${data}</main>
        <aside>${menu}</aside>
      </div>
    </section>
    <footer>
      <div class="container">
        <span class="generated">Generated: ${build_date}</span>
      </div>
    </footer>
	</body>
</html>
